#out {
    width: 1200px;
    height: 800px;
    margin: auto;
}
#top {
    width: 1200px;
    height: 100px;
    background-color: #8ba8af;
    text-align: center;
    font-size: 80px;
    font-style: inherit;
    margin-top: 10px;
}
#main {
    width: 1200px;
    height: auto;
    margin-top: auto;
 }
#left {
    width: 100px;
    height: 650px;
    background-color: #8FBC8F;
    float: left;
}
#midd {
    width: 998px;
    height: 650px;
    float: left;
    border: 1px solid #5a0099;
    border-radius: 5px;
}
#circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #980c10;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-left: 349px;
    background-color: lightgoldenrodyellow;
}
#innercircle {
    position: absolute;
    width: 210px;
    height: 210px;
    border: 1px solid #00CC00;
    border-radius: 50%;
    margin: auto;
    margin-top: 95px;
    margin-left: 394px;
    background-color: #ffffff;
}
#comment {
    margin-top: 400px;
}
#clocknum {
    position: absolute;
    width: 100px;
    height: auto;
    border: 1px solid #980c10;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 55px;
    margin-top: 30px;
}
.num {
    position:absolute;
    font-size:40px;
    font-style:italic;
    width:30px;
    height:300px;
    text-align:center;
    left:50%;
    margin-left:-20px;
}
#point {
    width: 10px;
    height: 10px;
    background-color: #1f1d1d;
    border: 1px solid #980c10;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
}
#second {
    width:100px;
    height: 2px;
    background-color: #980c10;
    margin-left: 105px;
    margin-top: -5px;
    transform-origin: 0 50%;
}
#minute {
    width:80px;
    height: 5px;
    background-color: #1f1d1d;
    margin-left: 105px;
    margin-top: -5px;
    transform-origin: 0 50%;
}
#hour {
    width:60px;
    height: 8px;
    background-color: #1f1d1d;
    margin-left: 105px;
    margin-top: -11px;
    border-radius: 50%;
    transform-origin: 0 50%;
}
#right {
    width: 100px;
    height: 650px;
    background-color: #2e8ece;
    float: left;
}
/*#bottom {*/
    /*width: auto;*/
    /*height: 50px;*/
    /*background-color: #980c10;*/
    /*margin-bottom: 0px;*/
/*}*/